DB_HOST=
PORT=

DEVELOPMENT=
API_URL_PRODUCTION=
NEXT_URL_PRODUCTION=
COOKIE_DOMAIN=

CLOUDINARY_API_SECRET=
CLOUDINARY_API_KEY=
CLOUDINARY_CLOUD_NAME=

JWT_SECRET=

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

STRIPE_API_KEY=
STRIPE_WEBHOOK_SECRET=
